<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Edit Movies Page</h1>
        <form action="/movies/<%=id%>?_method=PUT" method="POST" >
        <!--  NOTE: the form is pre-populated with values for the server-->
            Name: <input type="text" name="name" value="<%=movie.name%>"/><br/>
            Genre: <input type="text" name="genre" value="<%=movie.genre%>"/><br/>
            Year: <input type="text" name="year" value="<%=movie.year%>"/><br/>
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>